.content {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: aqua;
}

.logo {
    background-color: red;
    width: 50px;
}

.body {
  background-color: blue;
  width: 100px;
}

.profile {
    background-color: green;
    width: 60px;
}