<div class="container">
    <div class="professor-create">
        <div class="professor-create__header">
            <h3>Crear Docente</h3>
        </div>
        <div class="professor-create__content">
            <!--
            <app-professor-form #secretaryForm (submitFormEvent)="saveSecretary($event)"></app-professor-form>
            -->
        </div>
        <div class="professor-create__footer">
            <button class="btn-triage btn__solid-primary mr-2 options" (click)="createProfessor()">Crear</button>
            <button class="btn-triage btn__solid-tertiary option" (click)="backToProfessorList()">Cancelar</button>
        </div>
    </div>
</div>
