.professor-create {
	padding: 1em;
	min-width: 460px;

	&__header {
		text-align: center;
		font-weight: 700;
	}

	&__content {
		padding: 0 1em;
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	@media (width <= 720px) {
		max-width: 100%;

		&__content {
			padding: 0;
		}
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}
