<!--
<div class="login">
	<div class="content">
		<div class="head">
			<h2>Login</h2>
		</div>
		<app-login-form #loginFormComponent (submitFormEvent)="submitLoginForm($event)"></app-login-form>
		<div class="button-section">
			<button class="btn btn__solid-primary" [disabled]="isDisableButton" (click)="onSubmit()">ingresar</button>
		</div>
	</div>
</div>
-->
<div class="view">
	<div class="left-content">
		<img [src]="inaptImagePath" alt="">
	</div>
	<div class="right-content">
		<div class="login-card">
			
		</div>
	</div>
</div>
