@use "sass:string";

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-align-justify: string.unquote('"\\e901"');
$icon-chevron-down1: string.unquote('"\\e904"');
$icon-chevron-left1: string.unquote('"\\e906"');
$icon-chevron-right1: string.unquote('"\\e907"');
$icon-chevron-up1: string.unquote('"\\e908"');
$icon-edit: string.unquote('"\\e900"');
$icon-eye: string.unquote('"\\e909"');
$icon-eye-off: string.unquote('"\\e90a"');
$icon-trash-2: string.unquote('"\\e90b"');
$icon-user1: string.unquote('"\\e90c"');
$icon-cross: string.unquote('"\\1f39c"');
