$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-align-justify: unquote('"\\e901"');
$icon-chevron-down1: unquote('"\\e904"');
$icon-chevron-left1: unquote('"\\e906"');
$icon-chevron-right1: unquote('"\\e907"');
$icon-chevron-up1: unquote('"\\e908"');
$icon-edit: unquote('"\\e900"');
$icon-eye: unquote('"\\e909"');
$icon-eye-off: unquote('"\\e90a"');
$icon-trash-2: unquote('"\\e90b"');
$icon-user1: unquote('"\\e90c"');
$icon-cross: unquote('"\\1f39c"');

