<div class="container">
    <div class="base-crud">
        <div class="base-crud__header">
            <h3>Ver Secretaria</h3>
        </div>
        <div class="base-crud__content" >
            <app-secretary-form
                [secretaryData]="secretary"
                [isPreview]="preview"
            >
            </app-secretary-form>
        </div>
        <div class="base-crud__footer">
            <button class="btn-triage btn__solid-tertiary option" (click)="backToSecretaryList()">Cerrar</button>
        </div>
    </div>
</div>

