<form action="" class="form-triage" [formGroup]="professorForm">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="form-group col-md-6">
                <label for="name" class="is-required">Nombres</label>
                <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false }">{{this.professorData?.firstName}}</p>
                <input
                    type="text"
                    id="name"
                    autocomplete="given-name"
                    formControlName="firstName"
                    [ngClass]="{'hidden-component' : isPreview === true }">
                @if(this.firstName !== undefined && this.firstName.touched && this.firstName.status === formStatusEnum.INVALID) {
                    <div class="error-content">
                        @if(this.firstName.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                    </div>
                }
            </div>
            <div class="form-group col-md-6">
                <label for="second-name" class="is-required">Apellidos</label>
                <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false }">{{this.professorData?.secondName}}</p>
                <input
                    type="text"
                    id="second-name"
                    autocomplete="family-name"
                    formControlName="secondName"
                    [ngClass]="{'hidden-component' : isPreview === true }">
                @if(this.secondName !== undefined && this.secondName.touched && this.secondName.status === formStatusEnum.INVALID) {
                    <div class="error-content">
                        @if(this.secondName.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                    </div>
                }
            </div>
        </div>
        <div class="row mb-2">
            <div class="form-group col-md-6">
                <label for="ci" class="is-required">Ci</label>
                <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false }">{{this.professorData?.ci}}</p>
                <input 
                    type="text"
                    id="ci"
                    autocomplete="off"
                    formControlName="ci"
                    [ngClass]="{'hidden-component' : isPreview === true }">
                @if(this.ci !== undefined && this.ci.touched && this.ci.status === formStatusEnum.INVALID) {
                    <div class="error-content">
                        @if(this.ci.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                    </div>
                }
            </div>
            <div class="form-group col-md-6">
                <label for="phone" class="is-required">Telefono</label>
                <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false }">{{this.professorData?.phone}}</p>
                <input
                    type="text"
                    id="phone"
                    autocomplete="tel"
                    formControlName="phone"
                    appBlockInvalidNumberKeys
                    [ngClass]="{'hidden-component' : isPreview === true }">
                @if(this.phone !== undefined && this.phone.touched && this.phone.status === formStatusEnum.INVALID) {
                    <div class="error-content">
                        @if(this.phone.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                        @if(this.phone.errors?.['invalidPhone']) {<span>{{validationErrorMessage.invalidPhone}}</span>}
                    </div>
                }
            </div>
        </div>
        <div class="row mb-2">
            <div class="form-group col-md-6">
                <label for="salary" class="is-required">Sueldo</label>
                <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false}">{{this.professorData?.salary}}</p>
                <input
                    type="number"
                    id="salary"
                    autocomplete="off"
                    formControlName="salary"
                    [ngClass]="{'hidden-component' : isPreview === true}">
                @if(this.salary !== undefined && this.salary.touched && this.salary.status === formStatusEnum.INVALID) {
                    <div class="error-content">
                        @if(this.salary.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                    </div>
                }
            </div>
            <div class="form-group col-md-6">
                <label for="isAvaible" class="is-required">Habilitado</label>
                <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false }">{{this.professorData?.isAvaible ? 'Habilitado' : 'No habilitado'}}</p>
                <select
                    id="isAvaible"
                    autocomplete="off"
                    formControlName="isAvaible"
                    [ngClass]="{'hidden-component' : isPreview === true }">
                        <option [ngValue]="true">{{ 'Habilitado' }}</option>
                        <option [ngValue]="false">{{ 'No habilitado' }}</option>
                </select>
                @if(this.isAvaible !== undefined && this.isAvaible.touched && this.isAvaible.status === formStatusEnum.INVALID) {
                    <div class="error-content">
                        @if(this.isAvaible.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                    </div>
                }
            </div>
        </div>
        <div class="row mb-2">
            <div class="form-group col-md-6">
                <label for="email" class="is-required">Email</label>
                <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false}">{{this.professorData?.email}}</p>
                <input 
                    type="text"
                    id="email"
                    formControlName="email"
                    autocomplete="email"
                    [ngClass]="{'hidden-component' : isPreview === true}">
                @if(this.email !== undefined && this.email.touched && this.email.status === formStatusEnum.INVALID) {
                    <div class="error-content">
                        @if(this.email.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                        @if(this.email.errors?.['email']) {<span>{{validationErrorMessage.email}}</span>}
        
                    </div>
                }
            </div>
        </div>
        @if (!this.professorData) {
            <div class="row mb-2">
                <div class="form-group col-md-6">
                    <label for="password" class="is-required">Contraseña</label>
                    <input
                        type="password"
                        id="password"
                        formControlName="password"
                        autocomplete="new-password"
                        [ngClass]="{'hidden-component' : isPreview === true}">
                    @if(this.password !== undefined && this.password.touched && this.password.status === formStatusEnum.INVALID) {
                        <div class="error-content">
                            @if(this.password.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                        </div>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label for="confirmPassword" class="is-required">Confirmar contraseña</label>
                    <input
                        type="password"
                        id="confirmPassword"
                        formControlName="confirmPassword"
                        autocomplete="new-password"
                        [ngClass]="{'hidden-component' : isPreview === true}">
                    @if(this.confirmPassword !== undefined && this.confirmPassword.touched && this.confirmPassword.status === formStatusEnum.INVALID) {
                        <div class="error-content">
                            @if(this.confirmPassword.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                            @if(this.confirmPassword.errors?.['passwordMismatch']) { <span>{{validationErrorMessage.equalsPassword}}</span> }
                        </div>
                    }
                </div>
            </div>
        }
        <div class="row mt-4">
            <div class="col-md-12 background-options">
                <div class="row">
                    <div class="col-md-12 mt-2 mb-2 ml-2">
                        <h5>Seleccione materias del docente.<span>*</span></h5>
                        <p>Agregue las materias que dictara el docente.</p>
                    </div>
                </div>
                <div class="row mb-4 ">
                    <div class="form-group col-md-5">
                        <label class="is-required">Facultad</label>
                        <app-faculty-select
                            formControlName="selectedFaculty"
                            (valueChange)="loadCourses($event)"
                            [ngClass]="{ 'hidden-component': isPreview === true }">
                        </app-faculty-select>
                        <p class="ml-3" [ngClass]="{'hidden-component' : isPreview === false }">{{this.professorData?.faculty?.name}}</p> 
                        @if(this.selectedFaculty !== undefined && this.selectedFaculty.touched && this.selectedFaculty.status === formStatusEnum.INVALID) {
                            <div class="error-content">
                                @if(this.selectedFaculty.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                            </div>
                        }
                    </div>
                    <div class="form-group col-md-5" style="justify-content: end;">
                        <label for="degree" class="is-required">Cursos</label>
                        <p class="ml-2" [ngClass]="{'hidden-component' : isPreview === false }">{{this.professorData?.degree?.name}}</p>
                        <select 
                            id="degree"
                            autocomplete="off"
                            formControlName="selectedCourse"
                            [ngClass]="{'hidden-component' : isPreview === true }">
                                <option value="" disable selected>Seleccione un curso</option>
                                @for(courseOption of courseList; track $index) {
                                    <option [ngValue]="courseOption.id">{{ courseOption.name }}</option>
                                }
                        </select>
                    </div>
                    <div class="form-group col-md-2 button-section">
                        <button
                            type="button"
                            class="btn-triage medium btn__solid-success"
                            (click)="addTeacherSubject()"
                            [ngClass]="{'hidden-component' : isPreview === true }">
                        Agregar</button>
                    </div>
                </div>
                <!-- @if (courses.length > 0) {
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label class="is-required">Cursos asignados ({{ courses.length }})</label>
                            <div class="selected-courses-list" formArrayName="courses">
                                @for(courseControl of courses.controls; track $index) {
                                    <div class="course-item" [formGroupName]="$index">
                                        <span class="course-name">{{ courseControl.get('name')?.value }}</span>
                                        @if(!isPreview) {
                                            <button 
                                                type="button"
                                                class="btn-remove"
                                                (click)="removeCourse($index)"
                                                title="Eliminar curso">
                                                ✕
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                } -->
            </div>
        </div>
        <div class="row mt-4 mb-2">
            <div class="col-md-12">
                <app-teacher-schedule
                    formControlName="teacherAvailabilities"
                    [isPreview]="isPreview"
                    [teacherScheduleAvailabilities]="professorData?.teacherAvailabilities || []"
                    >
                </app-teacher-schedule>
            </div>
        </div>
    </div>
</form>
