<form action="" class="form-triage" [formGroup]="professorForm">
    <div formGroupName="user">
        <div class="form-group mb-3">
            <label for="name" class="is-required">Nombres</label>
            <input type="text" name="name" formControlName="firstName">
            @if(this.firstName !== undefined && this.firstName?.touched && this.firstName?.status === formStatusEnum.INVALID) {
                <div class="error-content">
                    @if(this.firstName?.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                </div>
            }
        </div>
        <div class="form-group mb-3">
            <label for="second-name" class="is-required">Apellidos</label>
            <input type="text" name="second-name" formControlName="secondName">
            @if(this.secondName !== undefined && this.secondName?.touched && this.secondName?.status === formStatusEnum.INVALID) {
                <div class="error-content">
                    @if(this.secondName?.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                </div>
            }
        </div>
        <div class="form-group mb-3">
            <label for="ci" class="is-required">Ci</label>
            <input type="text" name="ci" formControlName="ci">
            @if(this.ci !== undefined && this.ci?.touched && this.ci?.status === formStatusEnum.INVALID) {
                <div class="error-content">
                    @if(this.ci?.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                </div>
            }
        </div>
        <div class="form-group mb-3">
            <label for="cellphone" class="is-required">Telefono</label>
            <input type="number" name="cellphone" appBlockInvalidNumberKeys formControlName="cellphone">
            @if(this.cellphone !== undefined && this.cellphone?.touched && this.cellphone?.status === formStatusEnum.INVALID) {
                <div class="error-content">
                    @if(this.cellphone?.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
                </div>
            }
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="faculty" class="is-required">Facultad</label>
        <select name="faculty" formControlName="faculty" (change)="loadCourses()">
            <option value="" disable selected>Seleccione una facultad</option>
            @for(facultyOption of faculties; track $index) {
                <option [ngValue]="facultyOption">{{ facultyOption.name }}</option>
            }
        </select>
        @if(this.faculty !== undefined && this.faculty.touched && this.faculty.status === formStatusEnum.INVALID) {
            <div class="error-content">
                @if(this.faculty.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
            </div>
        }
    </div>
    <div class="form-group mb-3">
        <label for="course" class="is-required">Materia</label>
        <select name="course" formControlName="course">
            <option value="" disable selected>Seleccione una materia</option>
            @for(courseOption of courses; track $index) {
                <option [ngValue]="courseOption">{{ courseOption.name }}</option>
            }
        </select>
        @if(this.course !== undefined && this.course.touched && this.course.status === formStatusEnum.INVALID) {
            <div class="error-content">
                @if(this.course.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
            </div>
        }
    </div>
</form>
