<div class="form-container">
    <div class="row">
        <h4>Inscribir estudiante</h4>
    </div>
    <div class="form-triage">
        <div class="form-group mb-3">
            <label for="course" class="is-required">Estudiantes</label>
            <select name="course" placeholder="Seleccione un estudiante" [(ngModel)]="studentSelected">
                @for(student of studentList; track $index) {
                    <option [ngValue]="student">{{ student.user.firstName }}  {{student.user.secondName}}</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <label for="">Nombre del estudiante</label>
        <p>{{studentSelected ? studentSelected.user.firstName : '-'}}</p>
    </div>
    <div class="row">
        <label for="">Colegio</label>
        <p>{{ studentSelected ? studentSelected.highschool : '-' }}</p>
    </div>
    <div class="row">
        <label for="">Año de egreso</label>
        <p>{{ studentSelected ? (studentSelected.graduationYear | date: 'yyyy') : '-'}}</p>
    </div>

    <div class="button-sections">
        <button class="btn-triage btn__solid-primary mr-3" (click)="addStudent()">Agregar</button>
        <button class="btn-triage btn__solid-danger" (click)="closeModal()">Cancelar</button>
    </div>
</div>
