<div class="container">
    <div class="base-crud card">
        <div class="base-crud__header">
            <h3>Editar Docente</h3>
        </div>
        <div class="base-crud__content">
            <app-professor-form #professorForm [professorData]="professor" (submitFormEvent)="saveProfessor($event)"></app-professor-form>
            <!--
            -->
        </div>
        <div class="base-crud__footer">
            <button class="btn-triage btn__solid-primary mr-2 options" (click)="editProfessor()">Crear</button>
            <button class="btn-triage btn__solid-tertiary option" (click)="backToProfessorList()">Cancelar</button>
        </div>
    </div>
</div>
