<div class="default-table-list">
    <div class="default-table-list__header">
        <h2 class="title">
            {{title}}
        </h2>
        <button class="btn-triage btn__solid-primary" (click)="addSecretary()">
            + Crear Secretaria
        </button>
    </div>
    
    <div class="default-table-list__content">
        <table class="advanced-table">
            <thead>
                <tr class="table-header">
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ci</th>
                    <th>Telefono</th>
                    <th>Sucursal</th>
                    <th>Turno</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (secretary of secretaries; track $index) {
                <tr class="table__body" [ngClass]="{'shadow-row': $index%2 === 0}">
                    <td>{{secretary.user!.firstName}}</td>
                    <td>{{secretary.user!.secondName}}</td>
                    <td>{{secretary.user!.ci}}</td>
                    <td>{{secretary.user!.cellphone}}</td>
                    <td>{{secretary.branch}}</td>
                    <td>{{secretary.turn}}</td>
                    <td class="position-right">
                        <button class="btn-triage btn__solid-success option" (click)="viewDetail(secretary.id)">Ver detalle</button>
                        <button class="btn-triage btn__solid-primary option" (click)="openSecretaryEdit(secretary.id)">Editar</button>
                        <button class="btn-triage btn__solid-danger option" (click)="openModalDelete(secretary)">eliminar</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
