<div class="default-table-list">
    <div class="default-table-list__header">
        <h2 class="title">
            {{title}}
        </h2>
        <button class="btn-triage btn__solid-primary" (click)="addSecretary()">
            + Crear Secretaria
        </button>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="default-table-list__content"
                #scrollContainer
                infiniteScroll
                [infiniteScrollDistance]="1"
                [infiniteScrollThrottle]="150"
                [infiniteScrollContainer]="scrollContainer"
                (scrolled)="loadNextPage()"
            >
                <table class="advanced-table">
                    <thead>
                        <tr class="table-header">
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Ci</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Turno</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (secretary of store.entities(); track $index) {
                            <tr class="table__body" [ngClass]="{'shadow-row': $index%2 === 0}">
                                <td><img src="assets/image/avatar-user.jpg" alt=""></td>
                                <td>{{secretary.firstName}}</td>
                                <td>{{secretary.secondName}}</td>
                                <td>{{secretary.ci}}</td>
                                <td>{{secretary.phone}}</td>
                                <td>{{secretary.email}}</td>
                                <td>{{secretary.turn}}</td>
                                <td class="position-right">
                                    <button class="btn-triage btn__solid-success mr-1 option" (click)="viewDetail(secretary.id)">Ver detalle</button>
                                    <button class="btn-triage btn__solid-primary mr-1 option" (click)="openSecretaryEdit(secretary.id)">Editar</button>
                                    <button class="btn-triage btn__solid-danger option" (click)="openModalDelete(secretary)">eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (secretaries.length === 0) {
                <div class="center-text">
                    <span>No existe ninguna secretaria agregado</span>
                </div>
            }
        </div>
    </div>
</div>
