.alert {
    padding: 0.5em 0.75em;
    border-radius: 5px;
    
    &.error {
        color: var(--alert-error-color);
        border: 1px solid var(--alert-error-border-color);
        background: var(--alert-error-background-color);
    }

    &.success {
        color: var(--alert-success-color);
        border: 1px solid var(--alert-success-border-color);
        background: var(--alert-success-background-color);
    }

    &.warning {
        color: var(--alert-warning-color);
        border: 1px solid var(--alert-warning-border-color);
        background: var(--alert-warning-background-color);
    }

    .head {
    }

    .body {
        margin: 1em 0;
    }
}