<div class="content">
    <div class="home-view">
        <div class="home-view__row mb-5">
            <div class="home-view__item">
                <app-card-detail [title]="'Docentes'" [count]="professorsList.length"></app-card-detail>
            </div>
            <div class="home-view__item">
                <app-card-detail [title]="'Estudiantes'" [count]="studentList.length"></app-card-detail>
            </div>
            <div class="home-view__item">
                <app-card-detail [title]="'Cursos'" [count]="facultyCourseList.length"></app-card-detail>
            </div>
            <div class="home-view__item">
                <app-card-detail [title]="'Estudiantes con deuda'" [count]="12"></app-card-detail>
            </div>
        </div>
        <div class="home-view__table-section">
            @if(facultyList.length > 0) {
                <h3 class="table-title mb-4">Tabla de estudiantes por facultad</h3>
                <div class="default-table-list__content">
                    <table class="advanced-table">
                        <thead>
                            <tr class="table-header">
                                @for(faculty of facultyList; track $index){
                                    <th>{{faculty.name}}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table__body">
                                @if(facultyList.length > 0) {
                                    @for(faculty of facultyList; track $index){
                                        <td>{{searchStudentForFaculty(faculty)}}</td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>