<div class="content">
    <div class="home-view">
        <div class="home-view__row mb-5">
            <div class="home-view__item">
                <app-card-detail [title]="'Docentes'" [count]="6"></app-card-detail>
            </div>
            <div class="home-view__item">
                <app-card-detail [title]="'Estudiantes'" [count]="253"></app-card-detail>
            </div>
            <div class="home-view__item">
                <app-card-detail [title]="'Cursos'" [count]="6"></app-card-detail>
            </div>
            <div class="home-view__item">
                <app-card-detail [title]="'Estudiantes con deuda'" [count]="12"></app-card-detail>
            </div>
        </div>
        <div class="home-view__table-section">
            <h3 class="table-title mb-4">Tabla de estudiantes por facultad</h3>
            <div class="default-table-list__content">
                <table class="advanced-table">
                    <thead>
                        <tr class="table-header">
                            <th>Tecnologia</th>
                            <th>Homanidades</th>
                            <th>Derecho</th>
                            <th>Medicina</th>
                            <th>Odontologia</th>
                            <th>Agronomia</th>
                            <th>Bioquimica</th>
                            <th>Institucion militar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table__body">
                            <td>23</td>
                            <td>57</td>
                            <td>12</td>
                            <td>37</td>
                            <td>22</td>
                            <td>16</td>
                            <td>36</td>
                            <td>50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>