<form action="" class="form-triage" [formGroup]="facultyCourseForm">
    <div class="form-group mb-3">
        <label for="room" class="is-required">Aula</label>
        <input type="text" name="room" formControlName="room">
    </div>
    <div class="form-group mb-3">
        <label for="amount" class="is-required">Costo</label>
        <input type="number" name="amount" formControlName="amount">
    </div>
    <div class="form-group mb-3">
        <label for="initDate" class="is-required">Fecha inicio de clases</label>
        <input type="date" name="initDate" formControlName="initDate">
    </div>
    <div class="form-group mb-3">
        <label for="finishDate" class="is-required">Fecha fin de clases</label>
        <input type="date" name="finishDate" formControlName="finishDate">
    </div>
    <div class="form-group mb-3">
        <label for="faculty" class="is-required">Facultad</label>
        <select name="faculty" formControlName="faculty" (change)="loadCourses()">
            <option value="" [disabled]="true" selected>Seleccione una facultad</option>
            @for(facultyOption of faculties; track $index) {
                <option [ngValue]="facultyOption">{{ facultyOption.name }}</option>
            }
        </select>
        @if(this.faculty !== undefined && this.faculty.touched && this.faculty.status === formStatusEnum.INVALID) {
            <div class="error-content">
                @if(this.faculty.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
            </div>
        }
    </div>
    <div class="form-group mb-3">
        <label for="course" class="is-required">Materia</label>
        <select name="course" (change)="loadProfessors($event)">
            <option value="" [disabled]="true" selected>Seleccione una materia</option>
            @for(courseOption of courseList; track $index) {
                <option [ngValue]="courseOption">{{ courseOption.name }}</option>
            }
        </select>
    </div>
    <div class="form-group mb-3">
        <label for="professor" class="is-required">Docente</label>
        <select name="professor" (change)="setProfessor($event)">
            <option value="" [disabled]="true" selected>Seleccione un Docente</option>
            @for(professors of professorsList; track $index) {
                <option [ngValue]="professors">{{professors.user.firstName}} {{professors.user.secondName}}</option>
            }
        </select>
    </div>
    <div class="form-group mb-3">
        <label for="career" class="is-required">Horarios disponibles del profesor</label>
        <app-schedule-table
            #professorScheduleTable
            [isPreview]="true"
            [classScheduleDataList]="professorSelected?.classSchedules"
            (submitClassSchedule)="addClassHourSelected($event)"
            (submitSchedule)="addProfessorScheduleSelected($event)"
            ></app-schedule-table>
    </div>

    <div class="form-group mb-3">
        <label for="career" class="is-required">Horarios del curso</label>
        <app-schedule-table
            #scheduleTable
            [classScheduleDataList]="scheduleTableList"
            (submitClassSchedule)="addClassHourSelected($event)"
            ></app-schedule-table>
    </div>
</form>
