<div class="student-list">
    <div class="student-list__header">
        <h2 class="title">
            {{title}}
        </h2>
        <button class="btn-triage btn__solid-primary" (click)="addStudent()">
            + Crear Estudiante
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="default-table-list__content"
                #scrollContainer
                infiniteScroll
                [infiniteScrollDistance]="1"
                [infiniteScrollThrottle]="150"
                [infiniteScrollContainer]="scrollContainer"
                (scrolled)="loadNextPage()"
            >
                <table class="advanced-table">
                    <thead>
                        <tr class="table-header">
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Ci</th>
                            <th>Telefono</th>
                            <!-- <th>Facultad</th>
                            <th>Materia</th>
                            <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @for (student of store.entities(); track $index) {
                            <tr class="table__body" [ngClass]="{'shadow-row': $index%2 === 0}">
                                <td><img src="assets/image/avatar-user.jpg" alt=""></td>
                                <td>{{student.firstName}}</td>
                                <td>{{student.secondName}}</td>
                                <td>{{student.ci}}</td>
                                <td>{{student.phone}}</td>
                                <!-- <td>{{student.faculty?.name}}</td>
                                <td>{{student.course?.name}}</td> -->
                                <td class="position-right">
                                    <button class="btn-triage mr-1 btn__solid-success option" (click)="redirectViewDetail(student.id)">Ver detalle</button>
                                    <button class="btn-triage mr-1 btn__solid-primary option" (click)="redirectEditStudent(student.id)">Editar</button>
                                    <button class="btn-triage btn__solid-danger option" (click)="openDeleteModal(student)">eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (store.entities().length === 0) {
                <div class="center-text">
                    <span>No existe ningun estudiante agregado</span>
                </div>
            }
        </div>
    </div>
</div>
