<div class="student-list">
    <div class="student-list__header">
        <h2 class="title">
            {{title}}
        </h2>
        <button class="btn-triage btn__solid-primary" (click)="addStudent()">
            + Crear Estudiante
        </button>
    </div>
    <div class="student-list__content">
        <table class="advanced-table">
            <thead>
                <tr class="table-header">
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ci</th>
                    <th>Telefono</th>
                    <th>Colegio</th>
                    <th>Carrera</th>
                    <th>Graduacion</th>
                </tr>
            </thead>
            <tbody>
                @for (student of students; track $index) {
                    <tr class="table__body" [ngClass]="{'shadow-row': $index%2 === 0}">
                        <td>{{student.user!.firstName}}</td>
                        <td>{{student.user!.secondName}}</td>
                        <td>{{student.user!.ci}}</td>
                        <td>{{student.user!.cellphone}}</td>
                        <td>{{student.highschool}}</td>
                        <td>{{student.graduationYear}}</td>
                        <td>{{student.career}}</td>
                        <td class="position-right">
                            <button class="btn-triage btn__solid-primary option" (click)="openUserEdit(student.id)">ver detalle</button>
                            <button class="btn-triage btn__solid-danger option" (click)="deleteUser(student.id)">eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
