

.icon {
    font-size: 25px;
}

.option {
    min-width: 85px;
    margin-right: 1em;
}

.user-list {
    width: 100%;
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    &__content {
        width: 100%;
        overflow: auto;
    }
}