<div class="table-responsive" [ngClass]="{'preview' : isPreview}">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th></th>
          @for(day of days; track $index) {
            <th>{{ day }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(hour of hours; track $index) {
          <tr>
            <td><strong>{{ hour }}</strong></td>
            @for(day of days; track $index) {
              <td (click)="addOptionSelected(day, hour)" class="clickable-cell" [ngClass]="{'selected' : searchOptionSelected(day, hour)}">
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>