<div class="default-table-list">
    <div class="default-table-list__header">
        <h2 class="title">
            {{title}}
        </h2>
        <button class="btn-triage btn__solid-primary" (click)="addProfessor()">
            + Crear Docente
        </button>
    </div>
    
    <div class="default-table-list__content">
        <table class="advanced-table">
            <thead>
                <tr class="table-header">
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ci</th>
                    <th>Telefono</th>
                    <th>Facultad</th>
                    <th>Materia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (professor of professors; track $index) {
                    <tr class="table__body" [ngClass]="{'shadow-row': $index%2 === 0}">
                        <td>{{professor.user!.firstName}}</td>
                        <td>{{professor.user!.secondName}}</td>
                        <td>{{professor.user!.ci}}</td>
                        <td>{{professor.user!.cellphone}}</td>
                        <td>{{professor.faculty?.name}}</td>
                        <td>{{professor.course?.name}}</td>
                        <td class="position-right">
                            <button class="btn-triage btn__solid-success option" (click)="viewDetail(professor.id)">Ver detalle</button>
                            <button class="btn-triage btn__solid-primary option" (click)="openProfessorEdit(professor.id)">Editar</button>
                            <button class="btn-triage btn__solid-danger option" (click)="openDeleteModal(professor)">eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
