<div class="container">
    <div class="secretary-create">
        <div class="secretary-create__header">
            <h3>Crear Secretaria</h3>
        </div>
        @if (secretary) {
            <div class="secretary-create__content" >
                {{secretary | json}}
                <app-secretary-form #secretaryForm [secretaryData]="secretary" (submitFormEvent)="saveSecretary($event)"></app-secretary-form>
            </div>
        }
        <div class="secretary-create__footer">
            <button class="btn-triage btn__solid-primary mr-2 options" (click)="editarSecretary()">Guardar</button>
            <button class="btn-triage btn__solid-tertiary option" (click)="backToSecretaryList()">Cancelar</button>
        </div>
    </div>
</div>

