<div class="container">
    <div class="base-crud card">
        <div class="base-crud__header">
            <h3>Editar Secretaria</h3>
        </div>
        <div class="base-crud__content" >
            @if (secretary) {
                <app-secretary-form
                    #secretaryForm
                    [secretaryData]="secretary"
                    (submitFormEvent)="saveSecretary($event)"
                >
                </app-secretary-form>
            }
        </div>
        <div class="base-crud__footer">
            <button class="btn-triage btn__solid-primary mr-2 options" (click)="editarSecretary()">Guardar</button>
            <button class="btn-triage btn__solid-tertiary option" (click)="backToSecretaryList()">Cancelar</button>
        </div>
    </div>
</div>

