<div class="default-table-list">
    <div class="default-table-list__header">
        <h2 class="title">
            {{title}}
        </h2>
        <button class="btn-triage btn__solid-primary" (click)="addFacultyCourse()">
            + Crear nuevo curso
        </button>
    </div>
    
    <div class="default-table-list__content">
        <table class="advanced-table">
            <thead>
                <tr class="table-header">
                    <th>Facultad</th>
                    <th>Aula</th>
                    <th>Monto por estudiante</th>
                    <th>Inicio de curso</th>
                    <th>Fin de curso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (facultyCourse of facultyCourses; track $index) {
                    
                    <tr class="table__body" [ngClass]="{'shadow-row': $index%2 === 0}">
                        <td>{{facultyCourse.faculty?.name}}</td>
                        <td>{{facultyCourse?.room}}</td>
                        <td>{{facultyCourse?.amount}}</td>
                        <td>{{facultyCourse?.initDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{facultyCourse?.finishDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="position-right">
                            <button class="btn-triage btn__solid-success mr-2 option" (click)="viewDetail(facultyCourse.id ?? '')">Ver detalle</button>
                            <button class="btn-triage btn__solid-primary mr-2 option" (click)="openfacultyCourseEdit(facultyCourse.id ?? '')">Editar</button>
                            <button class="btn-triage btn__solid-danger option" (click)="openDeleteFacultyCourse(facultyCourse  ?? '')">eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

