<form action="" class="form-triage" [formGroup]="facultyForm">
    <div class="form-group mb-3">
        <label for="name" class="is-required">Nombre facultad</label>
        <input type="text" name="name" formControlName="name">
        @if(this.name !== undefined && this.name.touched && this.name.status === formStatusEnum.INVALID) {
            <div class="error-content">
                @if(this.name.errors?.['required']) {<span>{{validationErrorMessage.required}}</span>}
            </div>
        }
    </div>
    <div formArrayName="careers">
        <div class="title-section mb-3">
            <h4>Carreras</h4>
            <button type="button" class="btn-triage btn__solid-success" (click)="addCareer()">Agregar Carrera</button>
        </div>
        @for (career of careers.controls; track $index) {
            <div [formGroupName]="$index">
                <div class="trash-content">
                    <p>Carrera {{$index +1}}</p>
                    <span class="icon-trash-2" (click)="removeCareer($index)"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="career-name" class="is-required">Nombre</label>
                    <input type="text" name="career-name" formControlName="name">
                </div>
            </div>
        }
    </div>
</form>
