<div class="container">
    <div class="base-crud card">
        <div class="base-crud__header">
            <h3>Editar Estudiante</h3>
        </div>
        <div class="base-crud__content" >
            @if (student) {
                <app-student-form
                    #studentForm
                    [studentData]="student"
                    (submitFormEvent)="saveStudent($event)"                    
                >
                </app-student-form>
            }
        </div>
        <div class="base-crud__footer">
            <button class="btn-triage btn__solid-primary mr-2 options" (click)="editStudent()">Guardar</button>
            <button class="btn-triage btn__solid-tertiary option" (click)="backToStudentList()">Cancelar</button>
        </div>
    </div>
</div>

