.card {
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    margin-bottom: 1.5rem;
    border-radius: .2rem .2rem;

    .card-header {
        background: transparent;
        border-bottom: 0px solid rgba(0, 0, 0, .175);;
        color: var(--bs-card-cap-color);
            margin-bottom: 0;
            padding: 0.75rem 12px;
    }

    .card-body {
        margin-top: .75rem;
        color: var(--bs-card-color);
        flex: 1 1 auto;
        padding: 1.25rem 1.25rem;
    }
}

// .card {
//     border-radius: 0.35em;
//     border: 1px solid var(--input-form-color-border);
//     background: var(--btn-color-primary-contrast);
    
//     &__header {
//         padding: 0.75em;
//         border-radius: 0.35em 0.35em 0 0;
//         background-color: var(--header-background-color);
//         p {
//             color: var(--header-tietle-color);
//             font-size: 18px;
//             margin: 0;
//             font-weight: 700;
//         }
//     }

//     &__container {
//         padding: 0.75em;
//         border-radius: 0 0 0.35em 0.35em;
//         border-top: 1px solid var(--input-form-color-border);
//         background-color: var(--container-background-color);
//     }
// }

// .shadow {
//     box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)
// }
