.form-triage {
    padding: 1em;
    .form-group {
        //padding: 0 1em;
        display: flex;
        flex-direction: column;
        label {
            font-size: 11px;
            font-family: var(--font-family-default);
            margin: 0 0 0.5em 1em;
            text-transform: uppercase;
            color: var(--input-form-color);
        }

        input, select {
            width: auto;
            height: 40px;
            padding-left: 0.8em;
            border: var(--input-form-border-size) solid var(--input-form-color-border);
            border-radius: 5px;
            outline: none;
            &:focus {
                border: var(--input-form-border-size) solid var(--btn-color-primary);
                box-shadow: 0 4px 8px 0 rgba(0,77, 255, 0.2), 0 6px 20px 0 rgba(0, 77, 255, 0.19);
            }
        }

        .select {
            color: var(--input-form-color);
            option {
                font-size: 4px;
            }
        }
    }
}

.is-required::after {
    content: '*';
    margin-left: 3px;
    color: var(--alert-color);
    font-weight: bold;
}

.error-content {
    font-size: 11px;
    color: var(--alert-color);
    margin-left: 0.8em;
}

.my-select .ng-select-container  {
    background: #fff;
    border: var(--input-form-border-size) solid var(--input-form-color-border) !important;
    border-radius: 5px !important; 
    min-height: 40px !important;
}

.my-select .ng-select-container .ng-value-container {
    height: 100% !important;
    position: relative !important;
}

.my-select .ng-value {
    color: black !important;
}

.my-select .ng-input {
    top: 0 !important;
}

.ng-dropdown-panel {
    border: var(--input-form-border-size) solid var(--input-form-color-border) !important;
    border-radius: 6px !important;
}

.ng-dropdown-panel .ng-option {
    padding: 8px 12px;
    font-size: 14px;
}

.ng-dropdown-panel .ng-option:hover {
    background-color: #e8f0ff !important;
}

.ng-dropdown-panel .ng-option-selected {
    background-color: #cfe2ff !important;
    font-weight: bold;
}