$x1: 0.25rem;
$x2: 0.5rem;
$x3: 1rem;
$x4: 1.5rem;
$x5: 2rem;

.m {
    &-1 {
        margin: $x1;
    }

    &-2 {
        margin: $x2;
    }

    &-3 {
        margin: $x3;
    }

    &-4 {
        margin: $x4;
    }

    &-5 {
        margin: $x5;
    }
}

.mt {
    &-1 {
        margin-top: $x1;
    }
    &-2 {
        margin-top: $x2;
    }
    &-3 {
        margin-top: $x3;
    }
    &-4 {
        margin-top: $x4;
    }
    &-5 {
        margin-top: $x5;
    }
}

.mr {
    &-1 {
        margin-right: $x1;
    }
    &-2 {
        margin-right: $x2;
    }
    &-3 {
        margin-right: $x3;
    }
    &-4 {
        margin-right: $x4;
    }
    &-5 {
        margin-right: $x5;
    }
}

.mb {
    &-1 {
        margin-bottom: $x1;
    }
    &-2 {
        margin-bottom: $x2;
    }
    &-3 {
        margin-bottom: $x3;
    }
    &-4 {
        margin-bottom: $x4;
    }
    &-5 {
        margin-bottom: $x5;
    }
}

.ml {
    &-1 {
        margin-left: $x1;
    }
    &-2 {
        margin-left: $x2;
    }
    &-3 {
        margin-left: $x3;
    }
    &-4 {
        margin-left: $x4;
    }
    &-5 {
        margin-left: $x5;
    }
}

.p {
    &-1 {
        padding: $x1;
    }
    &-2 {
        padding: $x2;
    }
    &-3 {
        padding: $x3;
    }
    &-4 {
        padding: $x4;
    }
    &-5 {
        padding: $x5;
    }
}

.pt {
    &-1 {
        padding-top: $x1;
    }
    &-2 {
        padding-top: $x2;
    }
    &-3 {
        padding-top: $x3;
    }
    &-4 {
        padding-top: $x4;
    }
    &-5 {
        padding-top: $x5;
    }
}

.pr {
    &-1 {
        padding-right: $x1;
    }
    &-2 {
        padding-right: $x2;
    }
    &-3 {
        padding-right: $x3;
    }
    &-4 {
        padding-right: $x4;
    }
    &-5 {
        padding-right: $x5;
    }
}

.pb {
    &-1 {
        padding-bottom: $x1;
    }
    &-2 {
        padding-bottom: $x2;
    }
    &-3 {
        padding-bottom: $x3;
    }
    &-4 {
        padding-bottom: $x4;
    }
    &-5 {
        padding-bottom: $x5;
    }
}

.pl {
    &-1 {
        padding-left: $x1;
    }
    &-2 {
        padding-left: $x2;
    }
    &-3 {
        padding-left: $x3;
    }
    &-4 {
        padding-left: $x4;
    }
    &-5 {
        padding-left: $x5;
    }
}