.advanced-table {
    width: 100%;
    background-color: var(--table-bakcground-color);
    border-collapse: var(--table-border-type);
    font-size: var(--table-font-size);

    &__header {
        
    }

    .table__header {
        text-align: left;
        height: var(--table-row-height);
    }

    .table__body {
        height: var(--table-row-height);
        overflow: auto;
        &:hover {   
            background-color: var(--table-row-hover);
        }
    }

    tr {

        &.shadow-row {
            background-color: #f2f2f2;
            border-top: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
        }

        button {
            visibility: hidden;
        }
        
        &:hover {
            button {
                visibility: visible;
            }
        }
    }

    td,th {
        padding: 0.5em 1em;
        border-bottom: 1px solid var(--table-border-button-color);

        &.position-right {
            text-align: right;
        }

        img {
            width: 45px;
            height: 45px;
            border-radius: 50px;
        }
    }
}

.default-table-list {
    width: 100%;
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    &__content {
        width: 100%;
        max-height: 630px;
        overflow: auto;
    }
}
